@model PagedList.IPagedList<ClinicManagementSystem.EF.MedicineFeedback>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Medicine Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var detail = (ClinicManagementSystem.EF.Medicine)ViewBag.Detail;
    var imageList = (List<ClinicManagementSystem.EF.MedicineImage>)ViewBag.MedicineImages;
    var user = (ClinicManagementSystem.Models.CustomerAuthentication)Session["CUSTOMER_SESSION"];
}

<div class="product_image_area section-padding40">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-5">
                <div class="product_slider_img">
                    <div id="vertical">
                        @foreach (var item in imageList)
                        {
                            <div data-thumb="@Url.Content(item.FileName)">
                                <img src="@Url.Content(item.FileName)" class="w-100">
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@detail.MedicineName</h3>
                    <h2>$@detail.UnitPrice</h2>
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Type</span> : @detail.MedicineType.TypeName
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                <span>Supplier</span> : @detail.Supplier.CompanyName
                            </a>
                        </li>
                        <li>

                            @if (detail.UnitInStock > 0)
                            {
                                <a href="#"> <span>Availibility</span> : In Stock</a>
                            }
                            else
                            {
                                <a href="#"> <span>Availibility</span> : Out of Stock</a>
                            }
                        </li>
                    </ul>
                    <p>
                        @detail.ShortDescription
                    </p>
                    <div class="card_area">
                        <div class="product_count d-inline-block">
                            <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                            <input class="input-number" id="txtQty" type="text" value="1" min="1" max="1000">
                            <span class="number-increment"> <i class="ti-plus"></i></span>
                        </div>
                        <div class="add_to_cart">
                            <a style="cursor:pointer" class="btn">add to cart</a>
                            <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
                        </div>
                        <div class="social_icon">
                            <a href="#" class="fb"><i class="ti-facebook"></i></a>
                            <a href="#" class="tw"><i class="ti-twitter-alt"></i></a>
                            <a href="#" class="li"><i class="ti-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Usage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">Composition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                   aria-selected="false">Comments</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                @Html.Raw(detail.Usage)
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                @Html.Raw(detail.Composition)
            </div>
            <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="review_item">
                                        <div class="media">
                                            <div class="d-flex">
                                                <img style="border-radius: 50%;" width="70" src="@Url.Content(item.Customer.Avatar)" alt="" />
                                            </div>
                                            <div class="media-body">
                                                <h4>@item.Customer.FullName</h4>
                                                <h5>@item.CreatedDate</h5>
                                            </div>
                                        </div>
                                        <p>
                                            @item.Content
                                        </p>
                                    </div>
                                }
                                <nav class="blog-pagination justify-content-center d-flex">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            @Html.PagedListPager(Model, page => Url.Action("Detail", new { id = detail.MedicineID, page }))
                                        </li>
                                    </ul>
                                </nav>
                            }



                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Post a comment</h4>
                            @if (user != null)
                            {
                                using (Html.BeginForm("Feedback", "Medicine", FormMethod.Post))
                                {
                                    @Html.Hidden("medicineId", detail.MedicineID);
                                    <div class="row contact_form">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" value="@user.FullName" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" value="@user.Email" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" name="message" id="message" rows="1"
                                                          placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button type="submit" value="submit" class="btn">
                                                Submit Now
                                            </button>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-info" style="font-size:large">Please login first to feedback on this product!</div>
                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section ClientScript
{
    <script>
        $(document).ready(function () {
            $(".btn").click(function () {
                var qty = $("#txtQty").val();
                window.location = "/add-medicine?productID=@detail.MedicineID&quantity=" + qty;
            });
        });

    </script>

}
<link href="~/Content/pageStyle.css" rel="stylesheet" />