@model ClinicManagementSystem.EF.Education

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var feedbacks = (List<ClinicManagementSystem.EF.EducationFeedback>)ViewBag.EducationFeedbacks;
}

<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="@Url.Content(Model.Thumbnail)" alt="">
                    </div>
                    <div class="blog_details">
                        <h2 style="color: #2d2d2d;">
                            @Model.LessonName
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a><i class="fa fa-calendar"></i> @Model.CreateDate</a></li>
                            <li><a><i class="fa fa-comments"></i> @Model.EducationFeedbacks.Count()</a></li>
                        </ul>
                        <div>
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info">
                            <span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                            people like this
                        </p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                        </div>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>

                </div>

                <div class="comments-area">

                    <h4>@feedbacks.Count() Comment(s)</h4>
                    @foreach (var item in feedbacks)
                    {
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="@Url.Content(item.Customer.Avatar)" width="17%" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            @Html.Raw(item.Content)
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">@item.Customer.FullName</a>
                                                </h5>
                                                <p class="date">@item.CreatedDate </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                              placeholder="Write Comment"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
                        </div>
                    </form>
                </div>
            </div>
            @{ Html.RenderAction("_RightSlibar", "Education"); }
        </div>
    </div>
</section>