@model ClinicManagementSystem.EF.Customer

@{
    ViewBag.Title = "Profile";
    ViewBag.Header = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (ClinicManagementSystem.Models.CustomerAuthentication)Session["CUSTOMER_SESSION"];
}

@if (user != null)
{
    <section class="checkout_area section-padding40">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 style="font-size:27px">@user.FullName Profile</h1>
                        <div style="color:red;padding-bottom:20px">@TempData["ErrorMess"]</div>
                        <div style="color:green;padding-bottom:20px;font-size:20px">@TempData["Notice_Profile_Success"]</div>

                        @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row contact_form">
                                @Html.HiddenFor(model => model.Username)
                                <input type="hidden" name="OldImage" value="@Session["OLD_IMAGE"]" />
                                <div class="col-md-6 form-group p_star">
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Fullname", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-6 form-group p_star">
                                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control oso", @type = "date", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    @{
                                        var selectListStatus = new SelectList(new List<SelectListItem> { new SelectListItem { Text = "Male", Value = "true" }, new SelectListItem { Text = "Female", Value = "false" }, }, "Value", "Text");
                                    }
                                    @Html.DropDownListFor(model => model.Gender, selectListStatus, htmlAttributes: new { @class = "country_select" })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6 form-group p_star">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone Number", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", @readonly="readonly" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    <div id="notice_invalid_email" style="color:red"></div>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <div class="custom-file">
                                        <input type="file" class="form-control" name="ImageFile" id="ImageFile" title="Please choose your avatar!">
                                        @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn w-100">Save</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="cart_area section-padding40">
        <div class="container">
            <div class="alert alert-warning" style="font-size:large">Please log in and try again!</div>
        </div>
    </section>
}


@section ClientScript{
    <script src="~/Content/jsController/customerController.js"></script>
}


