@model PagedList.IPagedList<ClinicManagementSystem.EF.ScientificApparatu>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Scientific Apparatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentId = ViewBag.ID;
    var scientificApparatusType = (List<ClinicManagementSystem.EF.ScientificApparatusType>)ViewBag.ScientificApparatusType;
}

<div class="category-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-50">
                    <h2>Shop with us</h2>
                    <p>Browse from @Model.Count() latest items</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 ">
                <div class="row">
                    <div class="col-12">
                        <div class="small-tittle mb-45">
                            <div class="ion">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="12px">
                                    <path fill-rule="evenodd" fill="rgb(27, 207, 107)" d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"></path>
                                </svg>
                            </div>
                            <h4>Filter Scientific Apparatus</h4>
                        </div>
                    </div>
                </div>

                @{Html.RenderAction("_Filter", "Home");}

            </div>
            <div class="col-xl-9 col-lg-9 col-md-8 ">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="count-job mb-35">
                            <span></span>
                            <div class="select-cat">
                                <span>@Model.Count() Product(s)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-arrival new-arrival3">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                <div class="single-new-arrival mb-50 text-center">
                                    <div class="popular-img">
                                        <img src="@Url.Content(item.Thumbnail)" alt="">
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="@Url.Action("Detail", "ScientificApparatus", new { id = item.ScientificApparatusID })">@item.ScientificApparatusName</a></h3>
                                        <p>
                                            <span>$@item.UnitPrice</span>
                                            <div style="text-decoration: line-through; font-size:small">
                                                $@item.OldUnitPrice
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                @if (currentId != null)
                                {
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { id = currentId, page }))
                                }
                                else
                                {
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                                }
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/pageStyle.css" rel="stylesheet" />