@model ClinicManagementSystem.EF.Medicine

@{
	ViewBag.Title = "Medicine Details";
	ViewBag.Function = "Medicines";
	ViewBag.ChildFunction = "Medicine Details";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


	<section class="content">
		<div class="card">
			<div class="card-header">
				<h1 style="font-weight:bold; font-size:25px;" class="card-title">Detail of Medicine</h1>

				<div class="card-tools">
					<a class="btn btn-block btn-secondary float-right" href="~/Admin/Medicines">Back to List</a>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-md-12 col-lg-12 order-12 order-md-12">
						<div class="row">
                            <div class="col-12">
                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.MedicineID)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.MedicineID)
                                    </p>
                                </div>
                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.MedicineType.TypeName)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.MedicineType.TypeName)

                                    </p>
                                </div>
                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Supplier.CompanyName)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.Supplier.CompanyName)

                                    </p>
                                </div>
                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.MedicineName)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.MedicineName)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.ShortDescription)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.ShortDescription)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Composition)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.Raw(Model.Composition)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Usage)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.Raw(Model.Usage)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.UnitInStock)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.UnitInStock)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.UnitOnOrder)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.UnitOnOrder)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.OldUnitPrice)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.OldUnitPrice)
                                    </p>
                                </div>
                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.UnitPrice)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.UnitPrice)
                                    </p>
                                </div>
                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Thumbnail)</strong>:
                                    </div>
                                    @if (!Model.Thumbnail.IsEmpty())
                                    {
                                        <img class="col-sm-10" id="imageDetail" src="@Url.Content(Model.Thumbnail)" />
                                    }
                                    else
                                    {
                                        <p class="col-sm-10">No Image</p>
                                    }
                                </div>
                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Status)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @if (Model.Status == true)
                                        {
                                            <span class="badge badge-success">Being Sold</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">Stop Selling</span>
                                        }
                                    </p>
                                </div>

                            </div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>