@model IEnumerable<ClinicManagementSystem.EF.Medicine>

@{
    ViewBag.Title = "Manage Medicines";
    ViewBag.Manage = "Manage Medicines";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Data of Medicine</h3>
                <p>
                    <a class="btn btn-success btn-sm float-right" href="~/Admin/Medicines/Create">
                        <i class="fas fa-plus">
                        </i>
                        Create New
                    </a>
                    <a style="cursor:pointer; color:white" id="print" class="btn btn-primary btn-sm float-right"><i class="fas fa-print"></i> Print</a>
                </p>
            </div>
            <div class="card-body">
                <table id="tbl_Medicines" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MedicineName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShortDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitInStock)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitOnOrder)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OldUnitPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Thumbnail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Supplier.CompanyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MedicineType.TypeName)
                            </th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MedicineName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShortDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitInStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitOnOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OldUnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @if (!item.Thumbnail.IsEmpty())
                                    {
                                        <img class="col-sm-10" id="imageDetail" src="@Url.Content(item.Thumbnail)" />
                                    }
                                    else
                                    {
                                        <p class="col-sm-10">No Image</p>
                                    }
                                </td>
                                <td>
                                    @if (item.Status == true)
                                    {
                                        <span class="badge badge-success">Being Sold</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Stop Selling</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MedicineType.TypeName)
                                </td>

                                <td class="project-actions text-right">
                                    <a class="btn btn-success btn-sm btn-block" href="~/Admin/Medicines/Image/@item.MedicineID">
                                        <i class="fas fa-image">
                                        </i>
                                        Image
                                    </a>
                                    <a class="btn btn-primary btn-sm btn-block" href="~/Admin/Medicines/Details/@item.MedicineID">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm btn-block" href="~/Admin/Medicines/Edit/@item.MedicineID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm btn-block" href="~/Admin/Medicines/Delete/@item.MedicineID">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                    <a class="btn btn-warning btn-sm btn-block" data-toggle="modal" data-target="#modal-default-@item.MedicineID" href="#">
                                        <i class="fas fa-file-import">
                                        </i>
                                        Stock in
                                    </a>
                                    <a class="btn btn-dark btn-sm btn-block" data-toggle="modal" data-target="#modal-default-2-@item.MedicineID" href="#">
                                        <i class="fas fa-file-export">
                                        </i>
                                        Stock out
                                    </a>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@foreach (var item in Model)
{
    <div class="modal fade" id="modal-default-@item.MedicineID">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@item.MedicineName</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("StockIn", "Medicines", FormMethod.Post))
                {
                    <div class="modal-body">
                        <h4>Enter Quantity of @item.MedicineName which you stock in:</h4>
                        @Html.TextBox("unitInStock", "", htmlAttributes: new { @class = "form-control", @type = "number" })
                        @Html.Hidden("medicineID", item.MedicineID)
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </div>
                }
            </div>
        </div>
    </div>
}

@foreach (var item in Model)
{
    <div class="modal fade" id="modal-default-2-@item.MedicineID">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@item.MedicineName</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("StockOut", "Medicines", FormMethod.Post))
                {
                    <div class="modal-body">
                        <h4>Enter Quantity of @item.MedicineName which you stock out:</h4>
                        @Html.TextBox("unitInStock", "", htmlAttributes: new { @class = "form-control", @type = "number" })
                        @Html.Hidden("medicineID", item.MedicineID)
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </div>
                }
            </div>
        </div>
    </div>
}


@section ScriptConfig
{
    <link href="~/Asset/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Asset/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Asset/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Asset/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Asset/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Asset/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $("#tbl_Medicines").DataTable({
            "responsive": true,
            "autoWidth": false,
            "aoColumns": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                { sWidth: '80px' }
            ]
        });

        $('#print').click(function () {
            window.print();
            return false;
        });

    </script>
}
