@model ClinicManagementSystem.EF.ScientificApparatu

@{
    ViewBag.Title = "Create Scientific Apparatus";
    ViewBag.Function = "ScientificApparatus";
    ViewBag.ChildFunction = "Create Scientific Apparatus";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-green">
                    <div class="card-header">
                        <h3 class="card-title">New Scientific Apparatus</h3>
                    </div>
                    @using (Html.BeginForm("Create", "ScientificApparatus", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="card-body">
                                <div style="color:red;font-size:20px;font-weight:bold">@ViewBag.Error</div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Type Name</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("TypeID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-2">Supplier Name</label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("SupplierID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row ">
                                    @Html.LabelFor(model => model.ScientificApparatusName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ScientificApparatusName, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Scientific Apparatus Name" } })
                                        @Html.ValidationMessageFor(model => model.ScientificApparatusName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row ">
                                    @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Short Description" } })
                                        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Description, new { @id = "summernote_Description" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Specification, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Specification, new { @id = "summernote_Specification" })
                                        @Html.ValidationMessageFor(model => model.Specification, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.OldUnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.OldUnitPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Old Unit Price" } })
                                        @Html.ValidationMessageFor(model => model.OldUnitPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Unit Price" } })
                                        @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-10">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="ImageFile" id="ImageFile" required>
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                            @Html.ValidationMessageFor(model => model.Thumbnail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row row">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @{
                                                var selectListStatus = new SelectList(new List<SelectListItem> { new SelectListItem { Text = "Being Sold", Value = "true" }, new SelectListItem { Text = "Stop Selling", Value = "false" }, }, "Value", "Text");
                                            }
                                            @Html.DropDownListFor(model => model.Status, selectListStatus, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">Create</button>
                                <a class="btn btn-default float-right" href="~/Admin/ScientificApparatus/Index">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section ScriptConfig
{
    <link href="~/Asset/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script src="~/Asset/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Asset/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/Asset/plugins/summernote/summernote-bs4.min.js"></script>
    <link href="~/Asset/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <script>
        $(function () {
            $('#summernote_Description').summernote()
            $('#summernote_Specification').summernote()
        })
    </script>
}