@model IEnumerable<ClinicManagementSystem.EF.ScientificApparatu>


@{
    ViewBag.Title = "Manage Scientific Apparatus";
    ViewBag.Manage = "Manage Scientific Apparatus";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Data of Scientific Apparatus</h3>
                <p>
                    <a class="btn btn-success btn-sm float-right" href="~/Admin/ScientificApparatus/Create">
                        <i class="fas fa-plus">
                        </i>
                        Create New
                    </a>
                    <a style="cursor:pointer; color:white" id="print" class="btn btn-primary btn-sm float-right"><i class="fas fa-print"></i> Print</a>
                </p>
            </div>
            <div class="card-body">
                <table id="tbl_ScientificApparatus" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ScientificApparatusName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShortDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitInStock)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitOnOrder)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OldUnitPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Thumbnail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Supplier.CompanyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ScientificApparatusType.TypeName)
                            </th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ScientificApparatusName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShortDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitInStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitOnOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OldUnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @if (!item.Thumbnail.IsEmpty())
                                    {
                                        <img class="col-sm-10" id="imageDetail" src="@Url.Content(item.Thumbnail)" />
                                    }
                                    else
                                    {
                                        <p class="col-sm-10">No Image</p>
                                    }
                                </td>
                                <td>
                                    @if (item.Status == true)
                                    {
                                        <span class="badge badge-success">Being Sold</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Stop Selling</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ScientificApparatusType.TypeName)
                                </td>

                                <td class="project-actions text-right">
                                    <a class="btn btn-success btn-sm btn-block" href="~/Admin/ScientificApparatus/Image/@item.ScientificApparatusID">
                                        <i class="fas fa-image">
                                        </i>
                                        Image
                                    </a>
                                    <a class="btn btn-primary btn-sm btn-block" href="~/Admin/ScientificApparatus/Details/@item.ScientificApparatusID">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a>
                                    <a class="btn btn-info btn-sm btn-block" href="~/Admin/ScientificApparatus/Edit/@item.ScientificApparatusID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm btn-block" href="~/Admin/ScientificApparatus/Delete/@item.ScientificApparatusID">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section ScriptConfig
{
    <link href="~/Asset/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Asset/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Asset/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Asset/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Asset/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Asset/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $("#tbl_ScientificApparatus").DataTable({
            "responsive": true,
            "autoWidth": false,
            "aoColumns": [
                null,
                null,
				null,
                null,
				null,
				null,
				null,
				null,
				null,
				null,
                { sWidth: '80px' }
            ]
        });

        $('#print').click(function () {
            window.print();
            return false;
        });

    </script>
}