@{
    var medicineType = (List<ClinicManagementSystem.EF.MedicineType>)ViewBag.MedicineType;
    var scientificApparatusType = (List<ClinicManagementSystem.EF.ScientificApparatusType>)ViewBag.ScientificApparatusType;
    var activity = (List<ClinicManagementSystem.EF.Activity>)ViewBag.Activity;
    var user = (ClinicManagementSystem.Models.CustomerAuthentication)Session["CUSTOMER_SESSION"];
}
<header>
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row menu-wrapper align-items-center justify-content-between">
                    <div class="header-left d-flex align-items-center">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="~/home"><img src="~/Scripts/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Logo-2 -->
                        @*<div class="~/home">
                                <a href="~/home"><img src="~/Scripts/img/logo/logo2.png" alt=""></a>
                        </div>*@
                        <!-- Main-menu -->
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="~/home">Home</a></li>
                                    <li>
                                        <a href="@Url.Action("Index", "Medicine")">Medicines</a>
                                        <ul class="submenu">
                                            @{
                                                foreach (var item in medicineType)
                                                {
                                                    <li><a href="@Url.Action("Index", "Medicine", new { id = item.TypeID })">@item.TypeName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "ScientificApparatus")">Scientific Apparatus</a>
                                        <ul class="submenu">
                                            @{
                                                foreach (var item in scientificApparatusType)
                                                {
                                                    <li><a href="@Url.Action("Index", "ScientificApparatus", new { id = item.TypeID })">@item.TypeName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Education")">Education</a>
                                        <ul class="submenu">
                                            @{
                                                foreach (var item in activity)
                                                {
                                                    <li><a href="@Url.Action("Index", "Education", new { id = item.ActivityID })">@item.ActivityName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-right1 d-flex align-items-center">
                        <div class="search">
                            <ul class="d-flex align-items-center">
                                <li>
                                    @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @id="search" }))
                                    {
                                        <div class="form-box f-right">
                                            <input type="text" name="keyword" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="ti-search" onclick="document.get"></i>
                                            </div>
                                        </div>
                                    }
                                </li>
                                @if (user != null)
                                {
                                    <li>
                                        <div class="dropdown">
                                            <a class="dropbtn" onclick="largeDropdown()" >Hi, @user.FullName</a>
                                            <div id="myDropdown" class="dropdown-content">
                                                <a href="@Url.Action("Index", "Profile")">Profile</a>
                                                <a href="@Url.Action("ViewOrder", "Profile")">My Order</a>
                                                <a href="@Url.Action("ChangePassword", "Profile")">Password</a>
                                                <a href="@Url.Action("Logout", "Login")">Logout</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Login")" class="account-btn">Log in</a>/
                                        <a href="@Url.Action("Index", "Register")" class="account-btn">Register</a>
                                    </li>
                                }
                                @{ Html.RenderAction("_Cart", "Home"); }
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<style>
    .dropbtn {
        cursor: pointer;
        color: black;
        background-color: transparent;
        box-sizing: border-box;
        padding: 0 32px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        outline: medium none;
        display: block;
    }


    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 170px;
        background: #fff;
        left: 0;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
        padding: 17px 0;
        border-top: 3px solid #FD8F5F;
        transition: .3s;
        border-radius: 5px 5px 0 0;

        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }
    

    .show {
        display: block;
    }
</style>

<script>
    function largeDropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
