@{
    ViewBag.Title = "Home";
    var medicine = (List<ClinicManagementSystem.EF.Medicine>)ViewBag.Medicine;
    var apparatus = (List<ClinicManagementSystem.EF.ScientificApparatu>)ViewBag.Apparatus;
    var topPick = (List<ClinicManagementSystem.EF.ScientificApparatu>)ViewBag.TopPick;
    var education = (List<ClinicManagementSystem.EF.Education>)ViewBag.Education;
    var moreEducation = (List<ClinicManagementSystem.EF.Education>)ViewBag.MoreEducation;
}


<section class="properties new-arrival fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <h2>New Scientific Apparatus</h2>
                    <P>Apart from physiotherapy, you may require specific exercise and rehabilitation to improve your strength after an injur.</P>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="properties__button text-center">  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-Sofa" role="tabpanel" aria-labelledby="nav-Sofa-tab">
                    <div class="row">
                        @if (apparatus != null)
                        {
                            foreach (var item in apparatus)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="single-new-arrival mb-50 text-center">
                                        <div class="popular-img">
                                            <img src="@Url.Content(item.Thumbnail)" alt="">
                                        </div>
                                        <div class="popular-caption">
                                            <h3><a href="@Url.Action("Detail", "ScientificApparatus", new { id = item.ScientificApparatusID })">@item.ScientificApparatusName</a></h3>
                                            <span>$@item.UnitPrice</span>
                                            <div style="text-decoration: line-through; font-size:small">
                                                $@item.OldUnitPrice
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="row justify-content-center">
                        <div class="room-btn">
                            <a href="@Url.Action("Index", "ScientificApparatus")" class="border-btn">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="visit-tailor-area fix">
    @if (education != null)
    {
        foreach (var item in education)
        {
            <div class="tailor-offers" style="background-image: url(@Url.Content(item.Thumbnail))"></div>
            <div class="tailor-details">
                <h2>@item.LessonName</h2>
                <p><i class="fa fa-pen"></i> &nbsp; @item.Activity.ActivityName</p>
                <p><i class="fa fa-book"></i> &nbsp; @item.Subject.SubjectName</p>
                <p><i class="fa fa-calendar"></i> &nbsp; @item.CreateDate</p>
                <p><i class="fa fa-comment"></i> &nbsp; @item.EducationFeedbacks.Count()</p>
                <a href="@Url.Action("Detail", "Education", new { id = item.EducationID })" class="btn">Read More</a>
            </div>
        }
    }
</div>

<div class="new-arrival new-arrival2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2>NEW MEDICINES</h2>
                    <P>A healthy body holds a Healthy Soul. We Safe your Precious Health.</P>
                </div>
            </div>
        </div>
        <div class="row">
            @if (medicine != null)
            {
                foreach (var item in medicine)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="@Url.Content(item.Thumbnail)" alt="">
                            </div>
                            <div class="popular-caption">
                                <h3><a href="@Url.Action("Detail", "Medicine", new { id = item.MedicineID })">@item.MedicineName</a></h3>
                                <span>$@item.UnitPrice</span>
                                <div style="text-decoration: line-through; font-size:small">
                                    $@item.OldUnitPrice
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
        <div class="row justify-content-center">
            <div class="room-btn">
                <a href="@Url.Action("Index", "Medicine")" class="border-btn">Discover More</a>
            </div>
        </div>
    </div>
</div>

<div class="instagram-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="instra-tittle mb-40">
                    <div class="section-tittle">
                        <img src="~/Scripts/img/gallery/insta.png" alt="">
                        <h2>Get Inspired with Instagram</h2>
                        <P class="mb-35">Provides helpful information that benefits your health.</P>
                        <a href="@Url.Action("Index", "Education")" class="border-btn">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="row no-gutters">
                    @if (moreEducation != null)
                    {
                        foreach (var item in moreEducation)
                        {
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="single-instagram">
                                    <img src="@Url.Content(item.Thumbnail)" alt="" class="w-100">
                                    <a href="@Url.Action("Detail", "Education", new { id = item.EducationID })"><i class="ti-instagram"></i></a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="new-arrival new-arrival2">
    <div class="container">
        <!-- Section tittle -->
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2>Top Pick</h2>
                    <P>Apart from physiotherapy, you may require specific exercise and rehabilitation to improve your strength after an injur.</P>
                </div>
            </div>
        </div>
        <div class="row">
            @if (topPick != null)
            {
                foreach (var item in topPick)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="@Url.Content(item.Thumbnail)" alt="">
                            </div>
                            <div class="popular-caption">
                                <h3><a href="@Url.Action("Detail", "ScientificApparatus", new { id = item.ScientificApparatusID })">@item.ScientificApparatusName</a></h3>
                                <span>@item.UnitPrice</span>
                                <div style="text-decoration: line-through; font-size:small">
                                    $@item.OldUnitPrice
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row justify-content-center">
            <div class="room-btn">
                <a href="@Url.Action("Index", "ScientificApparatus")" class="border-btn">Discover More</a>
            </div>
        </div>
    </div>
</div>